[user]
	email = adcdstom@gmail.com

[url "https://github.com/"]
    insteadOf = "gh:"

[url "https://github.com/antoniodrumond/"]
    insteadOf = "ad:"

[url "https://github.com/davipuddo/"]
    insteadOf = "dfp:"

# to cache token:   git config --global credential.helper cache
# to uncache token: git config --global --unset credential.helper

[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
